body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: super;
    font-size: smaller;
}


.page-number {
    position: absolute;
    top: 10px;
    right: 10px; 
    text-align: right;
}

.circled {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    text-align: match-parent;
    width: 30px; 
    height: 30px;
    line-height: 30px;
    font-size: 14px; 
    font-weight: bold;
}

.image_container {
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: space-evenly; /* Center the images horizontally */
    gap: 10px; /* Add some space between the images */
}

.image_container img {
    width: 400px; /* Set a fixed width for both images */
    height: 489px; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image fills its box if needed */
}

.overwritten {}