body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 0px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: baseline;
    position: relative;
    top: -0.3em;
    font-size: smaller;
}

.supraAdd.show-normal {
    position: static;
    font-style: normal;
    font-size: inherit;
}


.page-number {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    min-width: 2em;
    height: 2em;
    line-height: 1em;
    font-size: 14px;
}

.image_container {
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: space-evenly; /* Center the images horizontally */
    gap: 10px; /* Add some space between the images */
}

.image_container img {
    width: 400px; /* Set a fixed width for both images */
    height: 489px; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image fills its box if needed */
}

.image_container img[src="Sparky_Frankenstein.webp"] {
    object-fit: contain; /* Ensure the full Sparky image is displayed without cropping */
 }

.overwritten {}

/*
body:has(option[value="Mary"]:selected) [class="#MWS"] {
    background-color: tomato;
}
*/

.markRest { 
    color:silver; /* puts all the text that is not highlighted in silver */
 }
 .markMary {
    color: black
}
.markPercy{
    color: black
}

/* the style of the footer with the license */
.license-note { 
    margin: 2.5em;
    padding: .5em;
    font-style:italic;
    font-size: small;
    text-align: center;
 }


 /* frankenstein theme */
@font-face {
    font-family: "Frankenfont";
    src: url("frankenwiniefont.ttf") format("opentype");
}

/* elements styled in f.font */
h1, h2, h4,
nav .navbar-brand,
.nav-item .dropdown-item,
figcaption,
.frankenstein,
.page-number {
    font-family: 'Frankenfont', sans-serif;
    letter-spacing: 0.1em;
    color: var(--blood-red) ;
    text-shadow: var(--light-red) 1px 0 10px;
}
nav .navbar-brand {
    font-size: 200%;
}
h1 {
    font-size: 4em;
    margin-top: .2em;
}
h2 {
    font-size: 3em;
}


/* horizontal toolbar */
#stats + .form-group {
    background-color:var(--blood-red);
    padding: .5em 0;
    text-align: center;
    margin-right: 15px;  /* align with width of the #text block */
    border-radius: 4px;
    align-items: center; /* Vertical alignment, does not seem to work... */
}
/*allow for more buttons on the horizontal toolbar*/
#sel-hand {
    display:inline-block;
    width:auto;
}