
body {
   background-color: #1c1c1c;
   color: #e0e0e0;
}

.folio-table th {
    color: #e0e0e0; /* give the title of the table on the index page the same text color as the rest */
}

.navbar-dark .navbar-brand { /* making sure the title in the navigation bar has the same color as the rest of the text*/
    color: #e0e0e0;
}

.dropdown-menu-dark { 
    background-color: #343a40; /* making the drodown menu dark as well*/
}
.dropdown-menu-dark .dropdown-item:hover {
    background-color: #495057; /* Slightly lighter grey when hovering over the dropdown menu */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

a, a:hover, a:active { /* make all links frankenweenie green */
    color:#6baf3d;
}

p {
    text-indent: 0px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: baseline;
    position: relative;
    top: -0.3em;
    font-size: smaller;
    font-style: italic;
}

/* to bring supralinear text inline when toggling deletions and display the text as a reading text*/

.supraAdd.show-normal {
    position: static;
    font-style: normal;
    font-size: inherit;
}

/* circled page number in top right corner */
.page-number {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    padding: 0.25em;
    min-width: 2em;
    height: 2em;
    line-height: 1.25em;
    font-size: 1.5em;
}

/* arrangement of images on index page*/
.image_container {
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: space-evenly; /* Center the images horizontally */
    gap: 10px; /* Add some space between the images */
}

.image_container img {
    width: 400px;
    height: 489px;
    object-fit: cover;
}

.image_container .img-contain {
    object-fit: contain; /* Ensure the full Sparky image is displayed without cropping */
 }


 .container-fluid{
    display:none;    
 }
 .container-fluid.active{
    display:block;
 }

 /* displaying different hands*/
.unmarkText { 
    color: rgb(123, 123, 123); /* puts all the text that of the hand that is not selected in silver */
 }
 .markText {
    color: #e0e0e0;
}

/* the style of the footer with the license */
.license-note { 
    margin: 2.5em;
    padding: .5em;
    font-style:italic;
    font-size: small;
    text-align: center;
 }

 .lic {
    font-size: small;
    font-style: italic;
 }

 #stats ul li span {
    color: #6baf3d;
    font-weight: bold;
 }

 /* frankenstein theme */
@font-face {
    font-family: "Frankenfont";
    src: url("fonts/frankenwiniefont.ttf") format("opentype");
}

/* elements styled in f.font */
title, h1, h2, h4,
nav .navbar-brand,
.nav-item .dropdown-item,
figcaption,
.frankenstein {
    color: #6baf3d; /* Frankenweenie green */
    font-family: 'Frankenfont', sans-serif;
    letter-spacing: 0.1em;
}
/*h1 {
    text-shadow:#6baf3d 1px 0 10px; 
} */
nav .navbar-brand {
    font-size: 200%;
    color: #e0e0e0; /* why does this do nothing? I can overwrite the font and font-size but not the textcolor? */
}
h1 {
    font-size: 3.5em;
    margin-top: .2em;
}
h2 {
    font-size: 3em;
    margin: 0.5em 0;     /* under and above 0.5 extra margin. 0 margin left and right */
}


/* horizontal toolbar */
#stats + .form-group {
    background-color: #6baf3d;;
    padding: .5em 0; 
    text-align: center;
    margin-right: 15px;  /* align with width of the #text block */
    border-radius: 4px;

}

/* checkbox as button */
label.btn:has(input[type=checkbox]) {
    margin-bottom:0; /*fix bootstrap 4.x alignment err*/
    cursor: pointer;  /*shows clickable item*/
}



/*allow for more buttons on the horizontal toolbar*/
#sel-hand {
    display:inline-block;
    width:auto;
}